In [183]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import scipy.stats as stats

In [184]:
# 데이터 불러오기

In [185]:
#path = 'C:/Users/UserK/Desktop/Ranee/data/신용예측프로젝트/프로젝트 데이터/'

In [345]:
path = 'C:/Users/MSI/Desktop/study/Data/기업정보/'

- 기업정보요약 : comp_intro
- 재무제표정보 : comp_finance
- 경영진정보 : comp_manager
- 국가R&D과제 : ntis_assign (진행중인것 / 완료 --> 성과데이터로있음)
- 국가R&D성과 : ntis_accomp 
- 국가R&D연구보고서 : ntis_article
- 디자인권정보 : kisti_design
- 상표권정보 : kisti_mark
- 신용등급정보: cri
- 실용신안정보 : kisti_utility
- 온라인뉴스: naver_news
- 취업포탈리뷰 : jobplanet_review
- 특허정보상세 : patent_detail
- 패밀리특허정보 : family_patent

In [380]:
comp_finance_train = pd.read_csv(path +'재무제표정보_train.csv')
comp_finance_test = pd.read_csv(path +'재무제표정보_test.csv')
comp_finance = pd.concat([comp_finance_train,comp_finance_test])

In [381]:
comp_intro_train = pd.read_csv(path +'기업정보요약_train.csv')
comp_intro_test = pd.read_csv(path +'기업정보요약_test.csv')
comp_intro = pd.concat([comp_intro_train,comp_intro_test])

In [382]:
def dot_split(row):
    if pd.isnull(row) :
        return np.nan
    else : 
        row = str(row)
        return row.split('.')[0]

# 산업분류코드 전처리

In [383]:
df_industry = pd.read_excel(path+'한국표준산업분류표.xlsx',index_col=1).reset_index().fillna(method= 'ffill')

In [384]:
df_industry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항목명     1197 non-null   object
 1   대분류코드   1197 non-null   object
 2   중분류코드   1197 non-null   float64
 3   항목명.1   1197 non-null   object
 4   소분류코드   1197 non-null   float64
 5   항목명.2   1197 non-null   object
 6   세분류코드   1197 non-null   float64
 7   항목명.3   1197 non-null   object
 8   세세분류코드  1197 non-null   float64
 9   항목명.4   1197 non-null   object
dtypes: float64(4), object(6)
memory usage: 93.6+ KB

In [385]:
def namee(row) :
    return row.split('(')[0]

df_industry['항목명'] = df_industry['항목명'].apply(namee)

In [386]:
def spe_industry(row) :
    if pd.isnull(row) :
        return np.nan
    elif len(str(row)) == 1 :
        return '0'+str(row)
    else : 
        return str(row)
    
df_industry['중분류코드_str'] = df_industry['중분류코드'].apply(dot_split).apply(spe_industry)

In [387]:
def spe_industry2(row) :
    if pd.isnull(row) :
        return np.nan
    elif len(str(row)) == 4 :
        return '0'+str(row)
    else : 
        return str(row)
    
df_industry['indCd1_str'] = df_industry['세세분류코드'].apply(dot_split).apply(spe_industry2)

In [388]:
df_industry_unique = df_industry[['대분류코드','항목명','중분류코드_str']].drop_duplicates()

# 산업분류별 분류

In [389]:
comp_intro['indCd1_str'] = comp_intro['indCd1'].apply(dot_split).apply(spe_industry2)

In [390]:
def indCd1(row) :
    if pd.isnull(row) :
        return np.nan
    else : 
        return row[0:2]

In [391]:
comp_intro['중분류코드_str'] = comp_intro['indCd1_str'].apply(indCd1)

In [392]:
comp_intro_m1 = pd.merge(comp_intro,df_industry_unique,on='중분류코드_str',how='left')
comp_intro_m1.shape

(9755, 19)

# 재무제표로 폐업회사 추출

In [294]:
pv1 = comp_finance.pivot_table(index=['BusinessNum','stYear'], columns='accNm', values='acctAmt').reset_index()

In [24]:
# null값 적은 칼럼으로 확인
pv2 = pv1[['BusinessNum','stYear','총자산']]

In [25]:
# 4년치 이하인 사업자
year_counts = pv2.groupby('BusinessNum')['stYear'].nunique()
filtered_business_nums = year_counts[year_counts <= 4]

In [29]:
# 3년치 이하인 사업자
year_counts = pv2.groupby('BusinessNum')['stYear'].nunique()
filtered_business_nums2 = year_counts[year_counts <= 3]

In [26]:
len(pv2['BusinessNum'].unique())

9173

In [27]:
shutdown_list = []
for i in filtered_business_nums.index :
    # 4년치 재무정보를 가진 회사 중 2017년에 첫 시작이면 list에 넣기
    if pv2.loc[pv2['BusinessNum'] == i].iloc[0]['stYear'] == 2017.0 : 
        shutdown_list.append(pv2.loc[pv2['BusinessNum'] == i].iloc[0]['BusinessNum'])

In [33]:
shutdown_list = []
for i in filtered_business_nums.index :
    # 4년치 재무정보를 가진 회사 중 끝 데이터값이 2021아니면 list에 넣기
    if pv2.loc[pv2['BusinessNum'] == i].iloc[-1]['stYear'] != 2021.0 : 
        shutdown_list.append(pv2.loc[pv2['BusinessNum'] == i].iloc[0]['BusinessNum'])

In [35]:
cond1 = pv1['BusinessNum'].isin(shutdown_list)

In [36]:
pv1.loc[cond1, '폐업여부'] = '폐업'
pv1.loc[~cond1, '폐업여부'] = '영업중'

# 재무제표 전처리

In [393]:
print(comp_finance.shape)
comp_finance.info()

(1115871, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1115871 entries, 0 to 227236
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1115871 non-null  int64
 1   BusinessNum  1115871 non-null  int64
 2   stYear       1115044 non-null  float64
 3   stNm         1115044 non-null  object
 4   acctCd       1115044 non-null  object
 5   accNm        1115044 non-null  object
 6   acctAmt      1115038 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 68.1+ MB

In [394]:
comp_finance_final = comp_finance.pivot_table(index=['BusinessNum','stYear'], columns='accNm', values='acctAmt').reset_index()

### 매개변수 만들기

In [242]:
comp_finance_final['유동자산비율'] = comp_finance_final['유동부채']/comp_finance_final['유동자산']

In [243]:
comp_finance_final['순운전자본비율'] = (comp_finance_final['유동자산']-comp_finance_final['유동부채'])/comp_finance_final['총자산']

In [244]:
comp_finance_final['매출액순이익률'] = (comp_finance_final['당기순이익(손실)']/comp_finance_final['매출액']) * 100

In [245]:
comp_finance_final['ROA'] = (comp_finance_final['당기순이익(손실)']/comp_finance_final['총자산'])*100

In [246]:
comp_finance_final['ROE'] = (comp_finance_final['당기순이익(손실)']/comp_finance_final['자기자본'])*100

In [247]:
comp_finance_final['매출총이익률'] = (comp_finance_final['매출총이익']/comp_finance_final['매출액']) * 100

In [248]:
comp_finance_final['총자산증가율'] = comp_finance_final['총자산 증가율']

In [249]:
comp_finance_final['매출액증가율'] = comp_finance_final['매출 증가율']

In [250]:
comp_finance_final['유형자산증가율'] = comp_finance_final['유형자산 증가율']

In [251]:
comp_finance_final['자본생산성비율'] = comp_finance_final['매출액']/(comp_finance_final['총자산']-comp_finance_final['부채총계'])

In [252]:
comp_finance_final['매출채권회전율'] = comp_finance_final['매출액']/comp_finance_final['매출채권']

In [253]:
comp_finance_final['재고자산회전율'] = comp_finance_final['매출원가']/comp_finance_final['재고자산']

In [255]:
comp_finance_final['총자본회전율'] = comp_finance_final['매출액']/comp_finance_final['총자산']

In [ ]:
comp_finance_final.isnull().sum()

In [ ]:
comp_finance_final.corr()[['매출액','매출총이익','당기순이익(손실)']]

In [ ]:
comp_finance_final.columns

In [ ]:
comp_finance_final.describe()

In [256]:
comp_finance_final_2 = comp_finance_final[['BusinessNum','stYear','당기순이익(손실)','매출액','영업이익','유동자산비율', '순운전자본비율', '매출액순이익률',
       'ROA', 'ROE', '매출총이익률', '총자산증가율', '매출액증가율', '유형자산증가율', '자본생산성비율','매출채권회전율', '총자본회전율']]

In [31]:
comp_finance_final.isnull().sum()/len(comp_finance_final) * 100

accNm
BusinessNum     0.000000
stYear          0.000000
노무비            49.271937
당기순이익(손실)       0.142309
당좌부채(당좌차월)     99.832279
당좌자산            0.551447
대손상각비          65.200376
매출 증가율          0.007624
매출액             1.120683
매출원가           15.730223
매출채권           13.244898
매출총이익           1.107977
법인세비용          41.170491
부채총계            0.228711
비유동부채          30.044980
수출액1           99.745877
수출액2           99.585779
수출액3           98.797998
수출액4           99.982211
수출액5           99.984753
영업외비용           4.203197
영업이익            0.147391
원재료            71.797413
유동부채            0.261747
유동비율            0.020330
유동자산            0.121979
유형자산 증가율        0.007624
이익잉여금           2.076186
이자비용           20.492491
인건비             1.893217
자기자본            0.010165
자본잉여금          86.002897
자본총계            0.129603
자산총계            0.119438
재고자산           43.406775
제조경비           44.202180
제조원가           53.566618
차입금             1.308734
총자산             0.010165
총자산 증가율         0.007624
투자자산           28.599019
판매비와관리비         0.579401
회사채            99.997459
dtype: float64

### 원자료모두사용 (null값 30% 이상 제외한 변수 사용)

In [297]:
comp_finance_final = comp_finance_final[['BusinessNum','stYear','매출액','영업이익','당기순이익(손실)', '당좌자산', '매출원가', 
                                     '매출채권', '매출총이익','부채총계', '영업외비용', '유동부채', '유동자산',
                              '이익잉여금', '이자비용', '인건비', '자기자본', '자본총계', '자산총계', '총자산', '차입금',
                                     '투자자산','판매비와관리비']]

### 상관관계로 변수 정함

In [147]:
# 상관계수 행렬 계산
correlations = comp_finance_final.corr()

# '매출액', '당기순이익(손실)', '영업이익' 칼럼과의 상관계수 필터링
target_columns = ['매출액', '당기순이익(손실)', '영업이익']
filtered_correlations = correlations[target_columns].drop(target_columns)

# 상관계수가 0.3 이상인 경우만 남기기
filtered_correlations = filtered_correlations[filtered_correlations >= 0.3].dropna(how='all')

filtered_correlations.index

Index(['당좌자산', '매출원가', '매출채권', '매출총이익', '부채총계', '영업외비용', '유동부채', '유동자산',
       '이익잉여금', '이자비용', '인건비', '자기자본', '자본총계', '자산총계', '총자산', '투자자산',
       '판매비와관리비'],
      dtype='object', name='accNm')

In [361]:
comp_finance_final = comp_finance_final[['BusinessNum','stYear','매출액','영업이익','당기순이익(손실)','당좌자산', '매출원가',
                                         '매출채권', '매출총이익', '부채총계', '영업외비용', '유동부채', '유동자산','이익잉여금', 
                                         '이자비용', '인건비', '자기자본', '자본총계', '자산총계', '총자산', '투자자산','판매비와관리비']]

### 논문관련된변수를 사용

In [329]:
comp_finance_final = comp_finance_final[['BusinessNum','stYear','매출액','영업이익','당기순이익(손실)','유동부채','유동자산',
                                         '총자산', '자기자본', '매출채권']]

# 재무정보와 기업정보 병합

In [362]:
comp_intro_m = pd.read_csv(path+'주소_설립연차_전처리.csv')
comp_intro_m

,Unnamed: 0,BusinessNum,종업원수,주소1,주소2,인건비,연차,평균인건비,평균종업원수
0,0,1050508965,NaN,서울,마포구,NaN,NaN,NaN,NaN
1,1,1010204456,5.0,서울,마포구,163362.0,24.0,572901.0,20.0
2,2,1048107174,12.0,서울,마포구,605783.0,23.0,353671.0,14.0
3,3,1018102731,18.0,서울,마포구,460156.0,21.0,460156.0,16.0
4,4,1018606595,3.0,서울,마포구,129405.0,15.0,329271.0,12.0
...,...,...,...,...,...,...,...,...,...
9876,9876,2148708573,150.0,서울,중구,4485000.0,22.0,390711.0,13.0
9877,9877,4208704866,7.0,서울,노원구,69223.0,7.0,63486.0,7.0
9878,9878,4618107952,3.0,서울,금천구,625041.0,9.0,172410.0,8.0
9879,9879,2208107776,21.0,서울,강남구,794622.0,24.0,572901.0,20.0
9880,9880,4638108687,5.0,경기,용인시,87797.0,7.0,63486.0,7.0

In [363]:
comp_intro_m2 = pd.merge(comp_intro_m1,comp_intro_m,on='BusinessNum',how='left')

In [364]:
comp_intro_m2.shape

(9755, 27)

In [365]:
comp_intro_m2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9755 entries, 0 to 9754
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  9755 non-null   int64
 1   BusinessNum   9755 non-null   int64
 2   cmpNm         9755 non-null   object
 3   기업명           7804 non-null   object
 4   ceoNm         9755 non-null   object
 5   telNo         9240 non-null   object
 6   faxTelNo      7014 non-null   object
 7   zip           7894 non-null   float64
 8   adr           9657 non-null   object
 9   dtlAdr        8028 non-null   object
 10  cmpTypNm      9755 non-null   object
 11  cmpSclNm      9755 non-null   object
 12  pbcoGbNm      8134 non-null   object
 13  indCd1        9736 non-null   float64
 14  indNm         9733 non-null   object
 15  indCd1_str    9736 non-null   object
 16  중분류코드_str     9736 non-null   object
 17  대분류코드         9736 non-null   object
 18  항목명           9736 non-null   object
 19  Unnamed: 0_y  9636 non-null   float64
 20  종업원수          9381 non-null   float64
 21  주소1           9631 non-null   object
 22  주소2           9629 non-null   object
 23  인건비           9373 non-null   float64
 24  연차            9288 non-null   object
 25  평균인건비         9287 non-null   float64
 26  평균종업원수        9287 non-null   float64
dtypes: float64(7), int64(2), object(18)
memory usage: 2.1+ MB

In [418]:
c1 = comp_intro_m2[['BusinessNum','주소1','연차','종업원수','대분류코드']]

In [419]:
c1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9755 entries, 0 to 9754
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BusinessNum  9755 non-null   int64
 1   주소1          9631 non-null   object
 2   연차           9288 non-null   object
 3   종업원수         9381 non-null   float64
 4   대분류코드        9736 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 457.3+ KB

In [368]:
df_all = pd.merge(c1,comp_finance_final,on='BusinessNum', how='inner')

In [369]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38898 entries, 0 to 38897
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BusinessNum  38898 non-null  int64
 1   주소1          38825 non-null  object
 2   연차           38554 non-null  object
 3   종업원수         38708 non-null  float64
 4   대분류코드        38892 non-null  object
 5   stYear       38898 non-null  float64
 6   매출액          38460 non-null  float64
 7   영업이익         38842 non-null  float64
 8   당기순이익(손실)    38844 non-null  float64
 9   당좌자산         38683 non-null  float64
 10  매출원가         32756 non-null  float64
 11  매출채권         33768 non-null  float64
 12  매출총이익        38465 non-null  float64
 13  부채총계         38812 non-null  float64
 14  영업외비용        37304 non-null  float64
 15  유동부채         38801 non-null  float64
 16  유동자산         38851 non-null  float64
 17  이익잉여금        38183 non-null  float64
 18  이자비용         30942 non-null  float64
 19  인건비          38194 non-null  float64
 20  자기자본         38894 non-null  float64
 21  자본총계         38848 non-null  float64
 22  자산총계         38851 non-null  float64
 23  총자산          38894 non-null  float64
 24  투자자산         27867 non-null  float64
 25  판매비와관리비      38672 non-null  float64
dtypes: float64(22), int64(1), object(3)
memory usage: 8.0+ MB

In [370]:
def convert_years(row):
    if pd.isnull(row) :
        return np.nan
    elif row == '30년이상':
        return 30.0
    else:
        return float(row)

def convert_years_2(row):
    if pd.isnull(row) :
        return np.nan
    elif row <= 5 :
        return '5년이하'
    elif row <= 10 :
        return '10년이하'
    elif row <= 25 :
        return '25년이하'
    elif row > 25 :
        return '25년초과'
    else :
        return row

In [371]:
df_all['성장단계'] = df_all['연차'].apply(convert_years).apply(convert_years_2)

In [372]:
def convert_add(row):
    if pd.isnull(row) :
        return np.nan
    elif row in ['서울','인천','경기'] :
        return '수도권'
    else :
        return '비수도권'

In [373]:
df_all['주소'] = df_all['주소1'].apply(convert_add)

In [374]:
df_final = df_all.drop(columns=['주소1'])

In [375]:
#df_final.to_csv(path + '이상치처리전_원변수.csv')
#df_final.to_csv(path + '이상치처리전_논문변수.csv')
df_final.to_csv(path + '이상치처리전_상관관계변수.csv')

# 2022예측데이터 만들기

In [422]:
df_pre = pd.read_csv(path + '이상치처리전_원변수.csv', index_col=0)
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38898 entries, 0 to 38897
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BusinessNum  38898 non-null  int64
 1   연차           38554 non-null  object
 2   종업원수         38708 non-null  float64
 3   대분류코드        38892 non-null  object
 4   stYear       38898 non-null  float64
 5   매출액          38460 non-null  float64
 6   영업이익         38842 non-null  float64
 7   당기순이익(손실)    38844 non-null  float64
 8   당좌자산         38683 non-null  float64
 9   매출원가         32756 non-null  float64
 10  매출채권         33768 non-null  float64
 11  매출총이익        38465 non-null  float64
 12  부채총계         38812 non-null  float64
 13  영업외비용        37304 non-null  float64
 14  유동부채         38801 non-null  float64
 15  유동자산         38851 non-null  float64
 16  이익잉여금        38183 non-null  float64
 17  이자비용         30942 non-null  float64
 18  인건비          38194 non-null  float64
 19  자기자본         38894 non-null  float64
 20  자본총계         38848 non-null  float64
 21  자산총계         38851 non-null  float64
 22  총자산          38894 non-null  float64
 23  차입금          38395 non-null  float64
 24  투자자산         27867 non-null  float64
 25  판매비와관리비      38672 non-null  float64
 26  성장단계         38554 non-null  object
 27  주소           38825 non-null  object
dtypes: float64(23), int64(1), object(4)
memory usage: 8.6+ MB

In [423]:
# 각 BusinessNum 별로 가장 큰 stYear 행만 선택
df_latest_year = df_pre.loc[df_pre.groupby('BusinessNum')['stYear'].idxmax()]

In [427]:
df_blank = pd.read_csv(path + '2022_predict.csv', encoding = 'cp949').rename(columns={'사업자등록번호_마스킹' :'BusinessNum' })['BusinessNum']
df_pre_final = pd.merge(df_blank,df_latest_year, on='BusinessNum', how='left')

In [428]:
df_pre_final.to_csv(path+'2022_예측데이터.csv')

In [417]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38898 entries, 0 to 38897
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BusinessNum  38898 non-null  int64
 1   연차           38554 non-null  object
 2   종업원수         38708 non-null  float64
 3   대분류코드        38892 non-null  object
 4   stYear       38898 non-null  float64
 5   매출액          38460 non-null  float64
 6   영업이익         38842 non-null  float64
 7   당기순이익(손실)    38844 non-null  float64
 8   당좌자산         38683 non-null  float64
 9   매출원가         32756 non-null  float64
 10  매출채권         33768 non-null  float64
 11  매출총이익        38465 non-null  float64
 12  부채총계         38812 non-null  float64
 13  영업외비용        37304 non-null  float64
 14  유동부채         38801 non-null  float64
 15  유동자산         38851 non-null  float64
 16  이익잉여금        38183 non-null  float64
 17  이자비용         30942 non-null  float64
 18  인건비          38194 non-null  float64
 19  자기자본         38894 non-null  float64
 20  자본총계         38848 non-null  float64
 21  자산총계         38851 non-null  float64
 22  총자산          38894 non-null  float64
 23  투자자산         27867 non-null  float64
 24  판매비와관리비      38672 non-null  float64
 25  성장단계         38554 non-null  object
 26  주소           38825 non-null  object
dtypes: float64(22), int64(1), object(4)
memory usage: 8.3+ MB