In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import scipy.stats as stats

In [6]:
# 데이터 불러오기

In [7]:
#path = 'C:/Users/UserK/Desktop/Ranee/data/신용예측프로젝트/프로젝트 데이터/'

In [21]:
path = 'C:/Users/MSI/Desktop/study/Data/기업정보/'

- 기업정보요약 : comp_intro
- 재무제표정보 : comp_finance
- 경영진정보 : comp_manager
- 국가R&D과제 : ntis_assign (진행중인것 / 완료 --> 성과데이터로있음)
- 국가R&D성과 : ntis_accomp 
- 국가R&D연구보고서 : ntis_article
- 디자인권정보 : kisti_design
- 상표권정보 : kisti_mark
- 신용등급정보: cri
- 실용신안정보 : kisti_utility
- 온라인뉴스: naver_news
- 취업포탈리뷰 : jobplanet_review
- 특허정보상세 : patent_detail
- 패밀리특허정보 : family_patent

In [22]:
comp_manager = pd.read_csv(path +'경영진정보_train.csv')
ntis_assign = pd.read_csv(path +'국가R&D과제_train.csv')
ntis_accomp = pd.read_csv(path +'국가R&D성과_train.csv')
ntis_article = pd.read_csv(path +'국가R&D연구보고서_train.csv')
comp_intro = pd.read_csv(path +'기업정보요약_train.csv')
comp_spe_intro = pd.read_csv(path +'기업정보상세.csv')
kisti_design = pd.read_csv(path +'디자인권정보_train.csv')
kisti_mark = pd.read_csv(path +'상표권정보_train.csv')
cri = pd.read_csv(path +'신용등급정보_train.csv')
kisti_utility = pd.read_csv(path +'실용신안정보_train.csv')
naver_news = pd.read_csv(path +'온라인뉴스_train.csv')
comp_finance = pd.read_csv(path +'재무제표정보_train.csv')
jobplanet_review = pd.read_csv(path +'취업포탈리뷰_train.csv')
patent_detail = pd.read_csv(path +'특허정보상세_train.csv')
family_patent = pd.read_csv(path +'패밀리특허정보_train.csv')
pre_df = pd.read_csv(path +'주소_설립연차_전처리.csv', index_col=0)

C:\Users\MSI\AppData\Local\Temp\ipykernel_17656\1054590792.py:2: DtypeWarning: Columns (42,44,46,48,51,56) have mixed types. Specify dtype option on import or set low_memory=False.
  ntis_assign = pd.read_csv(path +'국가R&D과제_train.csv')

In [161]:
comp_finance_train = pd.read_csv(path +'재무제표정보_train.csv')
comp_finance_test = pd.read_csv(path +'재무제표정보_test.csv')
comp_finance = pd.concat([comp_finance_train,comp_finance_test])

In [162]:
comp_intro_train = pd.read_csv(path +'기업정보요약_train.csv')
comp_intro_test = pd.read_csv(path +'기업정보요약_test.csv')
comp_intro = pd.concat([comp_intro_train,comp_intro_test])

In [163]:
def dot_split(row):
    if pd.isnull(row) :
        return np.nan
    else : 
        row = str(row)
        return row.split('.')[0]

# 산업분류코드 전처리

In [139]:
df_industry = pd.read_excel(path+'한국표준산업분류표.xlsx',index_col=1).reset_index().fillna(method= 'ffill')

In [140]:
df_industry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항목명     1197 non-null   object
 1   대분류코드   1197 non-null   object
 2   중분류코드   1197 non-null   float64
 3   항목명.1   1197 non-null   object
 4   소분류코드   1197 non-null   float64
 5   항목명.2   1197 non-null   object
 6   세분류코드   1197 non-null   float64
 7   항목명.3   1197 non-null   object
 8   세세분류코드  1197 non-null   float64
 9   항목명.4   1197 non-null   object
dtypes: float64(4), object(6)
memory usage: 93.6+ KB

In [180]:
def namee(row) :
    return row.split('(')[0]

df_industry['항목명'] = df_industry['항목명'].apply(namee)

In [143]:
df_industry['중분류코드'].unique()

array([ 1.,  2.,  3.,  5.,  6.,  7.,  8., 10., 11., 12., 13., 14., 15.,
       16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26., 27., 28.,
       29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39., 41., 42.,
       45., 46., 47., 49., 50., 51., 52., 55., 56., 58., 59., 60., 61.,
       62., 63., 64., 65., 66., 68., 70., 71., 72., 73., 74., 75., 76.,
       84., 85., 86., 87., 90., 91., 94., 95., 96., 97., 98., 99.])

In [152]:
def spe_industry(row) :
    if pd.isnull(row) :
        return np.nan
    elif len(str(row)) == 1 :
        return '0'+str(row)
    else : 
        return str(row)
    
df_industry['중분류코드_str'] = df_industry['중분류코드'].apply(dot_split).apply(spe_industry)

In [153]:
df_industry['중분류코드_str'].unique()

array(['01', '02', '03', '05', '06', '07', '08', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '41', '42', '45', '46', '47', '49', '50',
       '51', '52', '55', '56', '58', '59', '60', '61', '62', '63', '64',
       '65', '66', '68', '70', '71', '72', '73', '74', '75', '76', '84',
       '85', '86', '87', '90', '91', '94', '95', '96', '97', '98', '99'],
      dtype=object)

In [168]:
def spe_industry2(row) :
    if pd.isnull(row) :
        return np.nan
    elif len(str(row)) == 4 :
        return '0'+str(row)
    else : 
        return str(row)
    
df_industry['indCd1_str'] = df_industry['세세분류코드'].apply(dot_split).apply(spe_industry2)

In [229]:
df_industry_unique = df_industry[['대분류코드','항목명','중분류코드_str']].drop_duplicates()

In [230]:
df_industry_unique

     대분류코드                                항목명 중분류코드_str
0        A                        농업, 임업 및 어업        01
22       A                        농업, 임업 및 어업        02
27       A                        농업, 임업 및 어업        03
34       B                                 광업        05
36       B                                 광업        06
...    ...                                ...       ...
1163     S           협회 및 단체, 수리 및 기타 개인 서비스업        95
1174     S           협회 및 단체, 수리 및 기타 개인 서비스업        96
1192     T  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동        97
1193     T  가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동        98
1195     U                          국제 및 외국기관        99

[77 rows x 3 columns]

# 산업분류별 분류

In [231]:
comp_intro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9755 entries, 0 to 1950
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   9755 non-null   int64
 1   BusinessNum  9755 non-null   int64
 2   cmpNm        9755 non-null   object
 3   기업명          7804 non-null   object
 4   ceoNm        9755 non-null   object
 5   telNo        9240 non-null   object
 6   faxTelNo     7014 non-null   object
 7   zip          7894 non-null   float64
 8   adr          9657 non-null   object
 9   dtlAdr       8028 non-null   object
 10  cmpTypNm     9755 non-null   object
 11  cmpSclNm     9755 non-null   object
 12  pbcoGbNm     8134 non-null   object
 13  indCd1       9736 non-null   float64
 14  indNm        9733 non-null   object
 15  indCd1_str   9736 non-null   object
 16  중분류코드_str    9736 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 1.3+ MB

In [232]:
comp_intro.shape

(9755, 17)

In [233]:
comp_intro['indCd1_str'] = comp_intro['indCd1'].apply(dot_split).apply(spe_industry2)

In [223]:
comp_intro.isnull().sum()

Unnamed: 0        0
BusinessNum       0
cmpNm             0
기업명            1951
ceoNm             0
telNo           515
faxTelNo       2741
zip            1861
adr              98
dtlAdr         1727
cmpTypNm          0
cmpSclNm          0
pbcoGbNm       1621
indCd1           19
indNm            22
indCd1_str       19
중분류코드_str        19
dtype: int64

In [234]:
def indCd1(row) :
    if pd.isnull(row) :
        return np.nan
    else : 
        return row[0:2]

In [235]:
comp_intro['중분류코드_str'] = comp_intro['indCd1_str'].apply(indCd1)

In [236]:
print(comp_intro.shape)
comp_intro.isnull().sum()

(9755, 17)

Unnamed: 0        0
BusinessNum       0
cmpNm             0
기업명            1951
ceoNm             0
telNo           515
faxTelNo       2741
zip            1861
adr              98
dtlAdr         1727
cmpTypNm          0
cmpSclNm          0
pbcoGbNm       1621
indCd1           19
indNm            22
indCd1_str       19
중분류코드_str        19
dtype: int64

In [226]:
comp_intro['중분류코드_str'].unique()

array(['42', '41', '62', '71', '73', '59', '58', '63', '46', '85', '47',
       '26', '61', '52', '16', '28', '90', '94', '72', '74', '17', '75',
       '60', '45', '20', '68', '70', '29', '55', '30', '66', '56', '96',
       '14', '91', '95', '86', '27', '76', '10', '25', nan, '65', '13',
       '64', '32', '15', '22', '23', '33', '49', '24', '18', '87', '35',
       '21', '31', '50', '38', '84', '01', '34', '51', '07', '39'],
      dtype=object)

In [237]:
comp_intro_m1 = pd.merge(comp_intro,df_industry_unique,on='중분류코드_str',how='left')
comp_intro_m1.shape

(9755, 19)

In [238]:
comp_intro_m1.isnull().sum()

Unnamed: 0        0
BusinessNum       0
cmpNm             0
기업명            1951
ceoNm             0
telNo           515
faxTelNo       2741
zip            1861
adr              98
dtlAdr         1727
cmpTypNm          0
cmpSclNm          0
pbcoGbNm       1621
indCd1           19
indNm            22
indCd1_str       19
중분류코드_str        19
대분류코드            19
항목명              19
dtype: int64

In [239]:
comp_intro_m1.head(10)

,Unnamed: 0,BusinessNum,cmpNm,기업명,ceoNm,telNo,faxTelNo,zip,adr,dtlAdr,cmpTypNm,cmpSclNm,pbcoGbNm,indCd1,indNm,indCd1_str,중분류코드_str,대분류코드,항목명
0,0,1131201292,20210903,에**,김**,02 26333232,NaN,7295.0,서울특별시 영등포구 문래로20길,"60, 5층 505호 (문래동3가,메가벤처타워)",일반,중소기업,일반기업,42321.0,일반 통신 공사업,42321,42,F,건설업
1,1,6058609398,20220308,두원건설***,이**,043 283 4567,043 292 2002,28536.0,충청북도 청주시 청원구 중앙로 140,4층 (우암동),일반,중소기업,일반기업,41100.0,건물 건설업,41100,41,F,건설업
2,2,1138601802,20210903,(주)드림아이***,유**,070 77666664,02 62806509,8510.0,서울 금천구 벚꽃로 298,"903호,1312호 (가산동,대륭포스트타워6차)",외감,중소기업,일반기업,62010.0,컴퓨터 프로그래밍 서비스업,62010,62,J,정보통신업
3,3,7048608706,20211201,(주)드림오브***,신**,02-854-8000,050-4199-5335,3900.0,서울 마포구 마포나루길 332,"선착장 (상암동,상암나루)",일반,중소기업,일반기업,71531.0,경영컨설팅업,71531,71,M,"전문, 과학 및 기술 서비스업"
4,4,5088103009,20211130,(주)세***,권**,054 853 0006,054 8539929,36660.0,경북 안동시 경북대로,"389, 101호 지하",일반,중소기업,일반기업,41220.0,토목시설물 건설업,41220,41,F,건설업
5,5,1148600766,20210818,(주)***,김**,02 394 1416,02 394 1417,4165.0,서울특별시 마포구 마포대로 19,"503호, 504호, 505호 (마포동,신화빌딩)",일반,중소기업,일반기업,62021.0,컴퓨터시스템 통합 자문 및 구축 서비스업,62021,62,J,정보통신업
6,6,1058101501,20211228,(주)지***,김**,02 31413100,231419600,4047.0,서울특별시 마포구 독막로3길 26,4층 (서교동),일반,중소기업,일반기업,42320.0,통신 공사업,42320,42,F,건설업
7,7,2118707644,20210818,(주)***,조**,02-3449-0300,02-3447-7786,6047.0,서울특별시 강남구 도산대로 222,"5층, 6층, 7층, 8층 (논현동,호산빌딩)",일반,중소기업,일반기업,73209.0,"패션, 섬유류 및 기타 전문 디자인업",73209,73,M,"전문, 과학 및 기술 서비스업"
8,8,2018601556,20210820,(주)퍼니***,정**,02 376 0791,02 777 9391,3926.0,서울 마포구 매봉산로 75,"13층 (상암동,디디엠씨빌딩)",외감,중소기업,일반기업,59110.0,"영화, 비디오물 및 방송프로그램 제작업",59110,59,J,정보통신업
9,9,1358606865,20211229,에스지건설***,오**,031 377 7401,031 377 5999,18126.0,경기도 오산시 황새로,117 (누읍동),외감,중소기업,일반기업,41111.0,단독 주택 건설업,41111,41,F,건설업

# 산업분야별 매출액 대표값 차이 유무

In [ ]:
comp_finance

In [ ]:
pv1 = comp_finance.pivot_table(index=['BusinessNum','accNm'] , values='acctAmt', aggfunc='mean').reset_index()
df_sales = pv1.loc[pv1['accNm'] == '매출액']

In [ ]:
pv1 = comp_finance.pivot_table(index=['BusinessNum','accNm'] , values='acctAmt', aggfunc='median').reset_index()
df_sales = pv1.loc[pv1['accNm'] == '매출액']

In [ ]:
comp_intro_m2 = pd.merge(comp_intro_m1, df_sales, on='BusinessNum')

In [ ]:
# 귀무가설 : 정규성을 따른다 
# 대립가설 : 정규성을 따르지 않는다.
stats.normaltest(comp_intro_m2['acctAmt']) # < 0.05 -> 귀무가설 기각

In [ ]:
# 귀무가설 : 대분류별 중앙값 차이없다
# 대립가설 : 대분류별 중앙값 차이있다
grouped_data = [comp_intro_m2[comp_intro_m2['대분류'] == group]['acctAmt'] for group in comp_intro_m2['대분류'].unique()]
stats.kruskal(*grouped_data)

In [ ]:
comp_finance

# 설립연도일 포함된 회사정보

In [ ]:
comp_spe_intro.info()

In [ ]:
comp_spe_intro.head(10)

In [ ]:
comp_spe_intro['설립일_dt'] = pd.to_datetime(comp_spe_intro['설립일'].apply(dot_split))
comp_spe_intro['설립일_year'] = comp_spe_intro['설립일_dt'].dt.year

In [ ]:
comp_spe_intro['산업분류코드'] = comp_spe_intro['산업분류코드'].apply(dot_split)

In [ ]:
comp_spe_intro = pd.merge(comp_spe_intro,df_industry_small,left_on='산업분류코드', right_on='indCd1_str')
comp_spe_intro.info()

In [ ]:
comp_spe_intro['대분류'].value_counts()

In [ ]:
df1 = comp_spe_intro.loc[comp_spe_intro['대분류'] == '정보통신업']
df2 = comp_spe_intro.loc[comp_spe_intro['대분류'] == '건설업']
df3 = comp_spe_intro.loc[comp_spe_intro['대분류'] == '도매 및 소매업']
df4 = comp_spe_intro.loc[comp_spe_intro['대분류'] == '제조업']
df5 = comp_spe_intro.loc[comp_spe_intro['대분류'] == '전문, 과학 및 기술 서비스업']

In [ ]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)

In [ ]:
df1.to_csv('정보통신업.csv')
df2.to_csv('건설업.csv')
df3.to_csv('도매 및 소매업.csv')
df4.to_csv('제조업.csv')
df5.to_csv('전문, 과학 및 기술 서비스업.csv')

In [ ]:
df6 = comp_spe_intro.loc[comp_spe_intro['대분류'].isin(['정보통신업','건설업','도매 및 소매업','제조업','전문, 과학 및 기술 서비스업'])]
df6.to_csv('top5.csv')

In [ ]:
m1.head(10)

In [ ]:
p1 = m1.pivot_table(index=['대분류','설립일_year'], values='count', aggfunc='sum').reset_index()
p1

In [ ]:
df1 = p1.loc[p1['대분류'] == '정보통신업']
px.histogram(df1,x='설립일_year' , y='count')

In [ ]:
df2 = p1.loc[p1['대분류'] == '도매 및 소매업']
df2
px.histogram(df2,x='설립일_year' , y='count')

In [ ]:
df3 = p1.loc[p1['대분류'] == '제조업']
df3
px.histogram(df3,x='설립일_year' , y='count')

In [ ]:
comp_finance.info()

In [ ]:
m1

# 국가 과제 없는 회사 제외

In [ ]:
rnd_list = ntis_assign['BusinessNum'].unique().tolist()

In [ ]:
df_rnd = comp_spe_intro.loc[comp_spe_intro['사업자등록번호'].isin(not_rnd_list)]

In [ ]:
comp_finance_list = comp_finance['BusinessNum'].unique().tolist()
df_finace = df_rnd.loc[comp_spe_intro['사업자등록번호'].isin(comp_finance_list)]

In [ ]:
df_finace.info()

In [ ]:
df_finace['대분류'].value_counts()

# 재무정보확인

In [ ]:
comp_finance.info()

In [ ]:
comp_finance['accNm'].unique()

In [ ]:
len(comp_finance.loc[comp_finance['accNm']=='인건비']['BusinessNum'].unique())

In [ ]:
len(comp_finance['BusinessNum'].unique())

In [ ]:
len(comp_finance.loc[comp_finance['accNm']=='매출총이익']['BusinessNum'].unique())

In [ ]:
pv1 = comp_finance.pivot_table(index=['BusinessNum','stYear'], values='acctAmt',  aggfunc='mean').reset_index()
pv1

In [ ]:
pv1.shape

In [ ]:
year_counts = pv1.groupby('BusinessNum')['stYear'].nunique()
filtered_business_nums = year_counts[year_counts <= 4]

In [ ]:
filtered_business_nums.index

In [ ]:
shutdown_list = []
for i in filtered_business_nums.index :
    if pv1.loc[pv1['BusinessNum'] == i].iloc[0]['stYear'] == 2017.0 :
        shutdown_list.append(pv1.loc[pv1['BusinessNum'] == i].iloc[0]['BusinessNum'])

In [ ]:
len(shutdown_list)

In [ ]:
ntis_assign.info()

# R&D 확인

In [ ]:
ntis_assign.loc[ntis_assign['ProjectNo_str'] == '1415140263.0']['ResearchersName']

In [ ]:
ntis_assign['ProjectNo_str'].value_counts()

In [ ]:
ntis_assign['ProjectNo_str'] = ntis_assign['ProjectNo'].astype('str')

In [ ]:
ntis_assign.loc[8736]['ResearchersName']

In [ ]:
len(ntis_assign['ProjectNo_str'].unique())

In [ ]:
len(ntis_assign['ProjectNo_str'].unique())

In [ ]:
ntis_assign.loc[0]

In [ ]:
len(ntis_assign['ProjectNameKR'].unique())

# 재무제표 전처리

In [240]:
print(comp_finance.shape)
comp_finance.info()

(1115871, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1115871 entries, 0 to 227236
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1115871 non-null  int64
 1   BusinessNum  1115871 non-null  int64
 2   stYear       1115044 non-null  float64
 3   stNm         1115044 non-null  object
 4   acctCd       1115044 non-null  object
 5   accNm        1115044 non-null  object
 6   acctAmt      1115038 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 68.1+ MB

In [ ]:
comp_finance.head(20)

In [241]:
comp_finance_final = comp_finance.pivot_table(index=['BusinessNum','stYear'], columns='accNm', values='acctAmt').reset_index()

In [ ]:
len(comp_finance_final['BusinessNum'].unique())

In [ ]:
comp_finance_final.isnull().sum()

In [242]:
comp_finance_final['유동자산비율'] = comp_finance_final['유동부채']/comp_finance_final['유동자산']

In [243]:
comp_finance_final['순운전자본비율'] = (comp_finance_final['유동자산']-comp_finance_final['유동부채'])/comp_finance_final['총자산']

In [244]:
comp_finance_final['매출액순이익률'] = (comp_finance_final['당기순이익(손실)']/comp_finance_final['매출액']) * 100

In [245]:
comp_finance_final['ROA'] = (comp_finance_final['당기순이익(손실)']/comp_finance_final['총자산'])*100

In [246]:
comp_finance_final['ROE'] = (comp_finance_final['당기순이익(손실)']/comp_finance_final['자기자본'])*100

In [247]:
comp_finance_final['매출총이익률'] = (comp_finance_final['매출총이익']/comp_finance_final['매출액']) * 100

In [248]:
comp_finance_final['총자산증가율'] = comp_finance_final['총자산 증가율']

In [249]:
comp_finance_final['매출액증가율'] = comp_finance_final['매출 증가율']

In [250]:
comp_finance_final['유형자산증가율'] = comp_finance_final['유형자산 증가율']

In [251]:
comp_finance_final['자본생산성비율'] = comp_finance_final['매출액']/(comp_finance_final['총자산']-comp_finance_final['부채총계'])

In [252]:
comp_finance_final['매출채권회전율'] = comp_finance_final['매출액']/comp_finance_final['매출채권']

In [253]:
comp_finance_final['재고자산회전율'] = comp_finance_final['매출원가']/comp_finance_final['재고자산']

In [255]:
comp_finance_final['총자본회전율'] = comp_finance_final['매출액']/comp_finance_final['총자산']

In [ ]:
comp_finance_final.isnull().sum()

In [ ]:
comp_finance_final.corr()[['매출액','매출총이익','당기순이익(손실)']]

In [ ]:
comp_finance_final.columns

In [ ]:
comp_finance_final.describe()

In [256]:
comp_finance_final_2 = comp_finance_final[['BusinessNum','stYear','당기순이익(손실)','매출액','영업이익','유동자산비율', '순운전자본비율', '매출액순이익률',
       'ROA', 'ROE', '매출총이익률', '총자산증가율', '매출액증가율', '유형자산증가율', '자본생산성비율','매출채권회전율', '총자본회전율']]

In [257]:
def inf_ch(row) :
    if row == np.inf or row == -np.inf :
        return 0
    return row

In [258]:
for i in ['당기순이익(손실)','매출액','영업이익','유동자산비율', '순운전자본비율', '매출액순이익률','ROA', 'ROE', '매출총이익률', '총자산증가율', '매출액증가율', '유형자산증가율', '자본생산성비율','매출채권회전율', '총자본회전율'] :
    comp_finance_final_2[i] = comp_finance_final_2[i].apply(inf_ch)

C:\Users\MSI\AppData\Local\Temp\ipykernel_17656\359476504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comp_finance_final_2[i] = comp_finance_final_2[i].apply(inf_ch)

In [259]:
comp_finance_final_2.describe()

accNm,BusinessNum,stYear,당기순이익(손실),매출액,영업이익,유동자산비율,순운전자본비율,매출액순이익률,ROA,ROE,매출총이익률,총자산증가율,매출액증가율,유형자산증가율,자본생산성비율,매출채권회전율,총자본회전율
count,3.935100e+04,39351.000000,3.929500e+04,3.891000e+04,3.929300e+04,39244.000000,39241.000000,3.889500e+04,39292.000000,3.929200e+04,38789.000000,3.934800e+04,3.934800e+04,3.934800e+04,38881.000000,3.400700e+04,38906.000000
mean,3.301794e+09,2018.957485,1.112027e+06,2.946712e+07,1.767101e+06,2.011399,0.251274,-3.157376e+03,3.631873,-1.910371e+01,42.668695,7.642066e+10,9.187255e+10,1.382684e+11,3.980630,2.528905e+02,2.348787
std,2.209772e+09,1.361682,2.905693e+07,3.170269e+08,2.981844e+07,82.977461,3.551367,5.630980e+05,598.486065,6.713973e+03,80.972209,2.652625e+11,2.884056e+11,3.448694e+11,271.258447,1.860054e+04,77.884844
min,1.010109e+09,2017.000000,-7.537013e+08,-6.949763e+06,-1.926095e+08,-2.864341,-387.549153,-1.109482e+08,-16025.000000,-1.320070e+06,-12601.922175,-1.248370e+02,-1.000000e+02,-1.000000e+02,-29355.234946,-1.222720e+04,-5.563636
25%,1.228601e+09,2018.000000,8.776000e+03,7.245365e+05,2.595000e+03,0.158287,0.152187,7.640819e-01,0.804389,2.343969e+00,16.505391,-7.737500e-01,-1.085175e+01,-1.842425e+01,1.057449,4.084168e+00,0.735580
50%,2.298103e+09,2019.000000,7.300200e+04,2.044260e+06,7.151900e+04,0.351142,0.421601,3.593387e+00,4.730193,9.892720e+00,30.685331,1.250150e+01,1.430000e+01,5.685000e-01,2.179993,7.654067e+00,1.302704
75%,5.048101e+09,2020.000000,2.620820e+05,6.663636e+06,2.801320e+05,0.714616,0.636986,8.071672e+00,11.619079,2.415639e+01,74.210420,4.758575e+01,7.195050e+01,1.646390e+02,4.276946,1.659159e+01,2.156640
max,8.998804e+09,2021.000000,2.152950e+09,1.133206e+10,3.274727e+09,14990.823529,1.927273,4.513661e+04,113006.666667,9.091537e+04,874.075163,1.000000e+12,1.000000e+12,1.000000e+12,38989.000000,3.055403e+06,15008.000000

In [260]:
comp_finance_final_2.isnull().sum()/len(comp_finance_final_2)*100

accNm
BusinessNum     0.000000
stYear          0.000000
당기순이익(손실)       0.142309
매출액             1.120683
영업이익            0.147391
유동자산비율          0.271912
순운전자본비율         0.279535
매출액순이익률         1.158802
ROA             0.149933
ROE             0.149933
매출총이익률          1.428172
총자산증가율          0.007624
매출액증가율          0.007624
유형자산증가율         0.007624
자본생산성비율         1.194379
매출채권회전율        13.580341
총자본회전율          1.130848
dtype: float64

In [261]:
df_2017 = comp_finance_final_2.loc[comp_finance_final_2['stYear'] == 2017.0]
df_2018 = comp_finance_final_2.loc[comp_finance_final_2['stYear'] == 2018.0]
df_2019 = comp_finance_final_2.loc[comp_finance_final_2['stYear'] == 2019.0]
df_2020 = comp_finance_final_2.loc[comp_finance_final_2['stYear'] == 2020.0]
df_2021 = comp_finance_final_2.loc[comp_finance_final_2['stYear'] == 2021.0]

In [262]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7364 entries, 0 to 39346
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BusinessNum  7364 non-null   int64
 1   stYear       7364 non-null   float64
 2   당기순이익(손실)    7350 non-null   float64
 3   매출액          7219 non-null   float64
 4   영업이익         7352 non-null   float64
 5   유동자산비율       7336 non-null   float64
 6   순운전자본비율      7336 non-null   float64
 7   매출액순이익률      7211 non-null   float64
 8   ROA          7350 non-null   float64
 9   ROE          7350 non-null   float64
 10  매출총이익률       7214 non-null   float64
 11  총자산증가율       7364 non-null   float64
 12  매출액증가율       7364 non-null   float64
 13  유형자산증가율      7364 non-null   float64
 14  자본생산성비율      7214 non-null   float64
 15  매출채권회전율      6141 non-null   float64
 16  총자본회전율       7218 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 1.0 MB

In [263]:
comp_intro_m = pd.read_csv(path+'주소_설립연차_전처리.csv')
comp_intro_m

,Unnamed: 0,BusinessNum,종업원수,주소1,주소2,인건비,연차,평균인건비,평균종업원수
0,0,1050508965,NaN,서울,마포구,NaN,NaN,NaN,NaN
1,1,1010204456,5.0,서울,마포구,163362.0,24.0,572901.0,20.0
2,2,1048107174,12.0,서울,마포구,605783.0,23.0,353671.0,14.0
3,3,1018102731,18.0,서울,마포구,460156.0,21.0,460156.0,16.0
4,4,1018606595,3.0,서울,마포구,129405.0,15.0,329271.0,12.0
...,...,...,...,...,...,...,...,...,...
9876,9876,2148708573,150.0,서울,중구,4485000.0,22.0,390711.0,13.0
9877,9877,4208704866,7.0,서울,노원구,69223.0,7.0,63486.0,7.0
9878,9878,4618107952,3.0,서울,금천구,625041.0,9.0,172410.0,8.0
9879,9879,2208107776,21.0,서울,강남구,794622.0,24.0,572901.0,20.0
9880,9880,4638108687,5.0,경기,용인시,87797.0,7.0,63486.0,7.0

In [279]:
comp_intro_m2 = pd.merge(comp_intro_m1,comp_intro_m,on='BusinessNum',how='inner')

In [280]:
comp_intro_m2.shape

(9636, 27)

In [281]:
comp_intro_m2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9636 entries, 0 to 9635
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  9636 non-null   int64
 1   BusinessNum   9636 non-null   int64
 2   cmpNm         9636 non-null   object
 3   기업명           7711 non-null   object
 4   ceoNm         9636 non-null   object
 5   telNo         9172 non-null   object
 6   faxTelNo      6990 non-null   object
 7   zip           7791 non-null   float64
 8   adr           9554 non-null   object
 9   dtlAdr        7925 non-null   object
 10  cmpTypNm      9636 non-null   object
 11  cmpSclNm      9636 non-null   object
 12  pbcoGbNm      8015 non-null   object
 13  indCd1        9617 non-null   float64
 14  indNm         9614 non-null   object
 15  indCd1_str    9617 non-null   object
 16  중분류코드_str     9617 non-null   object
 17  대분류코드         9617 non-null   object
 18  항목명           9617 non-null   object
 19  Unnamed: 0_y  9636 non-null   int64
 20  종업원수          9381 non-null   float64
 21  주소1           9631 non-null   object
 22  주소2           9629 non-null   object
 23  인건비           9373 non-null   float64
 24  연차            9288 non-null   object
 25  평균인건비         9287 non-null   float64
 26  평균종업원수        9287 non-null   float64
dtypes: float64(6), int64(3), object(18)
memory usage: 2.1+ MB

In [282]:
comp_intro_m2.isnull().sum()

Unnamed: 0_x       0
BusinessNum        0
cmpNm              0
기업명             1925
ceoNm              0
telNo            464
faxTelNo        2646
zip             1845
adr               82
dtlAdr          1711
cmpTypNm           0
cmpSclNm           0
pbcoGbNm        1621
indCd1            19
indNm             22
indCd1_str        19
중분류코드_str         19
대분류코드             19
항목명               19
Unnamed: 0_y       0
종업원수             255
주소1                5
주소2                7
인건비              263
연차               348
평균인건비            349
평균종업원수           349
dtype: int64

In [283]:
c1 = comp_intro_m2[['BusinessNum','주소1','연차','종업원수','대분류코드','항목명']]

In [288]:
df_17 = pd.merge(df_2017,c1,on='BusinessNum', how='inner')
df_18 = pd.merge(df_2018,c1,on='BusinessNum', how='inner')
df_19 = pd.merge(df_2019,c1,on='BusinessNum', how='inner')
df_20 = pd.merge(df_2020,c1,on='BusinessNum', how='inner')
df_21 = pd.merge(df_2021,c1,on='BusinessNum', how='inner')

In [289]:
df_17.to_csv(path + '재무정보_2017.csv')
df_18.to_csv(path + '재무정보_2018.csv')
df_19.to_csv(path + '재무정보_2019.csv')
df_20.to_csv(path + '재무정보_2020.csv')
df_21.to_csv(path + '재무정보_2021.csv')

In [290]:
df_all = pd.merge(comp_finance_final_2,c1,on='BusinessNum', how='inner')
df_all.to_csv(path + '재무정보_통합.csv')

In [291]:
df_all.isnull().sum()

BusinessNum       0
stYear            0
당기순이익(손실)        54
매출액             438
영업이익             56
유동자산비율           99
순운전자본비율         101
매출액순이익률         453
ROA              56
ROE              56
매출총이익률          558
총자산증가율            2
매출액증가율            2
유형자산증가율           2
자본생산성비율         462
매출채권회전율        5248
총자본회전율          441
주소1               3
연차              274
종업원수            120
대분류코드             6
항목명               6
dtype: int64