In [4]:
import pandas as pd
import os
import numpy as np
os.getcwd()

os.chdir(r"C:\Users\UserK\Desktop\Ranee\SW_CAMP\태블로를 활용한 시각화\실습")

mainn = pd.read_csv("서울시 상권분석서비스(추정매출-상권).csv", encoding='cp949')
namee = pd.read_csv("서울시 상권분석서비스(영역-상권).csv", encoding='cp949')

In [2]:
mainn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62856 entries, 0 to 62855
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        62856 non-null  int64
 1   상권_구분_코드         62856 non-null  object
 2   상권_구분_코드_명       62856 non-null  object
 3   상권_코드            62856 non-null  int64
 4   상권_코드_명          62856 non-null  object
 5   서비스_업종_코드        62856 non-null  object
 6   서비스_업종_코드_명      62856 non-null  object
 7   당월_매출_금액         62856 non-null  int64
 8   당월_매출_건수         62856 non-null  int64
 9   주중_매출_금액         62856 non-null  int64
 10  주말_매출_금액         62856 non-null  int64
 11  월요일_매출_금액        62856 non-null  int64
 12  화요일_매출_금액        62856 non-null  int64
 13  수요일_매출_금액        62856 non-null  int64
 14  목요일_매출_금액        62856 non-null  int64
 15  금요일_매출_금액        62856 non-null  int64
 16  토요일_매출_금액        62856 non-null  int64
 17  일요일_매출_금액        62856 non-null  int64
 18  시간대_00~06_매출_금액  62856 non-null  int64
 19  시간대_06~11_매출_금액  62856 non-null  int64
 20  시간대_11~14_매출_금액  62856 non-null  int64
 21  시간대_14~17_매출_금액  62856 non-null  int64
 22  시간대_17~21_매출_금액  62856 non-null  int64
 23  시간대_21~24_매출_금액  62856 non-null  int64
 24  남성_매출_금액         62856 non-null  int64
 25  여성_매출_금액         62856 non-null  int64
 26  연령대_10_매출_금액     62856 non-null  int64
 27  연령대_20_매출_금액     62856 non-null  int64
 28  연령대_30_매출_금액     62856 non-null  int64
 29  연령대_40_매출_금액     62856 non-null  int64
 30  연령대_50_매출_금액     62856 non-null  int64
 31  연령대_60_이상_매출_금액  62856 non-null  int64
 32  주중_매출_건수         62856 non-null  int64
 33  주말_매출_건수         62856 non-null  int64
 34  월요일_매출_건수        62856 non-null  int64
 35  화요일_매출_건수        62856 non-null  int64
 36  수요일_매출_건수        62856 non-null  int64
 37  목요일_매출_건수        62856 non-null  int64
 38  금요일_매출_건수        62856 non-null  int64
 39  토요일_매출_건수        62856 non-null  int64
 40  일요일_매출_건수        62856 non-null  int64
 41  시간대_건수~06_매출_건수  62856 non-null  int64
 42  시간대_건수~11_매출_건수  62856 non-null  int64
 43  시간대_건수~14_매출_건수  62856 non-null  int64
 44  시간대_건수~17_매출_건수  62856 non-null  int64
 45  시간대_건수~21_매출_건수  62856 non-null  int64
 46  시간대_건수~24_매출_건수  62856 non-null  int64
 47  남성_매출_건수         62856 non-null  int64
 48  여성_매출_건수         62856 non-null  int64
 49  연령대_10_매출_건수     62856 non-null  int64
 50  연령대_20_매출_건수     62856 non-null  int64
 51  연령대_30_매출_건수     62856 non-null  int64
 52  연령대_40_매출_건수     62856 non-null  int64
 53  연령대_50_매출_건수     62856 non-null  int64
 54  연령대_60_이상_매출_건수  62856 non-null  int64
dtypes: int64(50), object(5)
memory usage: 26.4+ MB

In [3]:
namee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드    1650 non-null   object
 1   상권_구분_코드_명  1650 non-null   object
 2   상권_코드       1650 non-null   int64
 3   상권_코드_명     1650 non-null   object
 4   엑스좌표_값      1650 non-null   int64
 5   와이좌표_값      1650 non-null   int64
 6   자치구_코드      1650 non-null   int64
 7   자치구_코드_명    1650 non-null   object
 8   행정동_코드      1650 non-null   int64
 9   행정동_코드_명    1650 non-null   object
 10  영역_면적       1650 non-null   int64
dtypes: int64(6), object(5)
memory usage: 141.9+ KB

In [5]:
b = pd.read_csv("최종파일2.csv", encoding='cp949')

In [6]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230768 entries, 0 to 1230767
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1230768 non-null  int64
 1   기준_년분기_코드    1230768 non-null  object
 2   자치구_코드_명     1230768 non-null  object
 3   서비스_업종_코드_명  1230768 non-null  object
 4   당월_매출_금액     1230768 non-null  float64
 5   당월_매출_건수     1230768 non-null  int64
 6   주중_매출_금액     1230768 non-null  float64
 7   주말_매출_금액     1230768 non-null  float64
 8   남성_매출_금액     1230768 non-null  float64
 9   여성_매출_금액     1230768 non-null  float64
 10  요일           1230768 non-null  object
 11  요일별_매출_금액    1230768 non-null  float64
 12  나이           1230768 non-null  object
 13  나이별_매출_금액    1230768 non-null  float64
dtypes: float64(7), int64(2), object(5)
memory usage: 131.5+ MB