In [1]:
import pandas as pd
import plotly.express as px
import scipy.stats as stats

In [3]:
import os
os.getcwd()

'C:\\Users\\UserK\\Desktop\\Ranee\\SW_CAMP\\파이썬을 활용한 머신러닝\\Day03_과제'

In [11]:
df1 = pd.read_csv('06_Data.csv',index_col=0)
print(df1.shape)
df1.info()

(36833, 15)
<class 'pandas.core.frame.DataFrame'>
Index: 36833 entries, 0 to 2205
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  36833 non-null  int64
 1   날짜          36833 non-null  object
 2   SKU ID      36833 non-null  int64
 3   SKU 명       36833 non-null  object
 4   바코드         36833 non-null  object
 5   발주가능상태      36833 non-null  object
 6   입고수량        36833 non-null  int64
 7   쿠팡출고수량      36833 non-null  int64
 8   쿠팡현재재고수량    36833 non-null  int64
 9   자재번호        36833 non-null  int64
 10  자재명         36833 non-null  object
 11  카테고리        36833 non-null  object
 12  입수          36833 non-null  int64
 13  출고수량        36833 non-null  float64
 14  재고수량        36833 non-null  float64
dtypes: float64(2), int64(7), object(6)
memory usage: 4.5+ MB

C:\Users\UserK\AppData\Local\Temp\ipykernel_8160\3772655590.py:1: DtypeWarning:

Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

 1. 2019년 5월 대비 8월의 "쿠팡출고수량"이 몇 퍼센트 증가했는지 계산하시오.

In [31]:

df1['날짜'].unique() # 2019년밖에없음

df1['날짜_dt'] = pd.to_datetime(df1['날짜'])
df1['월'] = df1['날짜_dt'].dt.month
pv1 = df1.pivot_table(index='월',values='쿠팡출고수량',aggfunc='sum')
answer = ((pv1.loc[8] - pv1.loc[5]) / pv1.loc[5]) * 100
answer

쿠팡출고수량   -53.256417
dtype: float64

2. 각 카테고리 별 5월 대비 8월의 "쿠팡출고수량"의 증감율을 계산하시오.

In [162]:
df_month = df1.loc[(df1['월'] == 5) | (df1['월'] == 8)]
pv2 = df_month.pivot_table(index='카테고리', columns='월',values='쿠팡출고수량',aggfunc='sum').reset_index()
pv2['증감율'] = ((pv2[5] - pv2[8]) / pv2[5] ) * 100
pv2

월   카테고리      5      8        증감율
0    F&B  23687   9905  58.183814
1     ST   2442   1615  33.865684
2     기타   1647    874  46.933819
3   덴탈케어  74280  30661  58.722402
4  매입브랜드   1769    635  64.104014
5   세탁세제  90089  44910  50.149297
6   주방세제  46048  24490  46.816366
7   헤어케어  62011  28063  54.745126

3. '발주가능상태'에서 '발주중단' 된 데이터의 특성을 파악하고자 한다. '발주중단' 데이터만 추출하여, 카테고리의 빈도수를 확인하고, 연속형 자료의 기술통계량을 계산하시오.

In [70]:
df3 = df1.loc[df1['발주가능상태'] == '발주중단']
print(df3['카테고리'].value_counts())
df3.describe()

카테고리
헤어케어    78
세탁세제    14
덴탈케어     3
Name: count, dtype: int64

,Unnamed: 0,SKU ID,입고수량,쿠팡출고수량,쿠팡현재재고수량,자재번호,입수,출고수량,재고수량,날짜_dt,월
count,95.000000,9.500000e+01,95.000000,95.000000,95.000000,9.500000e+01,95.000000,95.000000,95.000000,95,95.000000
mean,28616.242105,3.559700e+06,14.357895,10.989474,516.526316,6.038457e+06,7.515789,2.095614,318.160424,2019-07-15 00:00:00,7.000000
min,15576.000000,3.097770e+05,0.000000,0.000000,0.000000,5.008395e+06,4.000000,0.000000,0.000000,2019-06-18 00:00:00,6.000000
25%,26683.000000,2.383418e+06,0.000000,2.000000,20.500000,6.068195e+06,4.000000,0.200000,43.036364,2019-07-09 12:00:00,7.000000
50%,29684.000000,3.367647e+06,0.000000,8.000000,164.000000,6.075507e+06,10.000000,0.800000,210.000000,2019-07-15 00:00:00,7.000000
75%,31374.500000,3.367649e+06,0.000000,14.500000,246.000000,6.075508e+06,10.000000,3.375000,379.307692,2019-07-21 00:00:00,7.000000
max,36563.000000,1.023964e+07,216.000000,100.000000,3077.000000,6.075508e+06,10.000000,16.666667,2080.000000,2019-08-07 00:00:00,8.000000
std,4672.622153,2.659679e+06,40.203714,14.443945,938.434514,1.870319e+05,2.763220,2.906945,399.025974,NaN,0.461266

In [81]:
# 4. 19년도 7월 2번째 주에 '쿠팡출고수량'이 가장 많은 '카테고리'는 무엇인지 확인하시오.
df1['주'] = df1['날짜_dt'].dt.isocalendar().week
df4 = df1.loc[df1['주']==28]
df4.pivot_table(index='카테고리',values='쿠팡출고수량',aggfunc='sum').sort_values(by='쿠팡출고수량',ascending=False).index[0]

'세탁세제'

5. 각 '자재명' 별 '쿠팡출고수량', '입고수량'의 평균을 계산하고, 계산된 결과에서 '쿠팡출고수량'의 상위 10% '자재명'을 'A' / 상위 30%를 'B' / 상위 60%를 'C' / 나머지를 'D'로 '등급분류'라는 파생변수를 생성하고, 각 등급에서 가장 많이 등장한 '카테고리'항목이 무엇인지 확인하시오.

In [112]:
pv3 = df1.pivot_table(index=['자재명','카테고리'], values=['쿠팡출고수량','입고수량'], aggfunc='mean').sort_values(by='쿠팡출고수량',ascending=False).reset_index()
pv3

                            자재명  카테고리        입고수량      쿠팡출고수량
0         17리큐 진한겔 2.1L온라인4입(화)  세탁세제  912.678571  782.821429
1        18KS샴푸러블리 605mlX3(쿠팡)책  헤어케어  621.190476  535.940476
2        18리큐 진한겔 2.1L(일반)온라인_눕  세탁세제  369.404762  379.476190
3    17리큐 진한겔드럼용 2.1L리필(온4입)(화)  세탁세제  307.666667  337.750000
4           19KS샴푸데미지 750ml플러스책  헤어케어  382.666667  310.880952
..                          ...   ...         ...         ...
349        19샤워메이트스크럽 300쿠키앤크림책   F&B    0.000000    0.000000
350     18더마&모어린스 데일리 밸런싱 600ml  헤어케어    0.000000    0.000000
351             18KS걸리쉬 헤어파우더팩트  헤어케어    0.000000    0.000000
352      18 스파크 스팀100℃ 1.4kg 기획  세탁세제    0.000000    0.000000
353            전2080후레쉬톡 100오렌지  덴탈케어    0.000000    0.000000

[354 rows x 4 columns]

In [118]:
pv3.loc[0:34,'등급분류'] = 'A'
pv3.loc[35:106,'등급분류'] = 'B'
pv3.loc[107:211,'등급분류'] = 'C'
pv3['등급분류'] = pv3['등급분류'].fillna('D')
pv3['label'] = 1
pv3.pivot_table(index='등급분류',columns='카테고리', values='label' , aggfunc='sum')

# XXXX
# XXXX
# XXXX

카테고리   F&B    ST   기타  덴탈케어  매입브랜드  세탁세제  주방세제  헤어케어
등급분류
A      3.0   NaN  NaN   8.0    NaN   9.0   7.0   8.0
B      9.0   NaN  2.0  15.0    1.0  24.0  12.0   9.0
C      7.0  10.0  1.0  18.0    3.0  37.0   7.0  22.0
D     13.0  32.0  2.0  28.0    2.0  30.0   9.0  26.0

6. '카테고리'를 사용자로부터 입력받아, '발주가능상태'에 따른 '월'(날짜로 부터 계산) 별 '쿠팡출고수량'의 합을 계산하여 시각화 하고 해당 그래프를 '카테고리명_월별_쿠팡출고량.png'파일 형태로 저장하는 함수를 만드시오.

In [130]:
print(df1['카테고리'].unique())
category = input('카테고리를 입력하시오 : ')
df5 = df1.loc[df1['카테고리'] == category]
pv4 = df5.pivot_table(index =['월','발주가능상태'] , values='쿠팡출고수량' , aggfunc='sum').reset_index()
fig1 = px.histogram(pv4, x ='월' , y='쿠팡출고수량',color='발주가능상태')
fig1.write_html(category+'_월별_쿠팡출고량.html',full_html=False)

['세탁세제' '덴탈케어' '헤어케어' '주방세제' 'ST' 'F&B' '기타' '매입브랜드']

카테고리를 입력하시오 :  ST

7.'카테고리'빈도수가 가장 많은 항목의 '입고수량'이 높은 상위 100개 데이터를 result_category.xlsx로 저장하시오.

In [140]:
category_top = df1['카테고리'].value_counts().head(1).index[0]
df1.loc[df1['카테고리'] == category_top].sort_values(by='입고수량',ascending=False).head(100).to_excel("result_category.xlsx")

8. 각 '카테고리'별 7월과 8월의 '출고수량'의 '평균'과 '합'의 차이를 계산하시오.

In [178]:
df_month2 = df1.loc[(df1['월'] == 7) | (df1['월'] == 8)]
pv5 = df_month2.pivot_table(index='카테고리' ,columns='월',  values='출고수량' , aggfunc=['mean','sum'])
pv5.columns
pv5[('mean','출고수량평균차이')] = pv5[('mean',7)] - pv5[('mean',8)]
pv5[('sum','출고수량합차이')] =  pv5[('sum',7)] - pv5[('sum',8)]
pv5

9. '입고수량'과 '쿠팡출고수량'의 상관관계를 산점도를 이용해 시각화 하시오.