In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import scipy.stats as stats

In [2]:
# 강의실용
member_df = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\member_data.csv')
df1 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_001.csv')
df2 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_002.csv')
df3 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_003.csv')
df4 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_004.csv')

In [4]:
# 
path = r'C:\Users\MSI\Desktop\study\Data\One_Market_Data'
member_df = pd.read_csv(path+'\member_data.csv')
df1 = pd.read_csv(path+'\product_data_001.csv')
df2 = pd.read_csv(path+'\product_data_002.csv')
df3 = pd.read_csv(path+'\product_data_003.csv')
df4 = pd.read_csv(path+'\product_data_004.csv')

In [5]:
print(member_df.shape)
member_df.info()

(11555, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11555 entries, 0 to 11554
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회원번호         11555 non-null  int64
 1   조합원상태        11555 non-null  object
 2   주소           11555 non-null  object
 3   성별           11553 non-null  object
 4   연령           11553 non-null  float64
 5   배송서비스신청여부    11555 non-null  object
 6   모바일알람여부      11555 non-null  object
 7   Gold_member  11555 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 722.3+ KB

In [6]:
member_df.isnull().sum()

회원번호           0
조합원상태          0
주소             0
성별             2
연령             2
배송서비스신청여부      0
모바일알람여부        0
Gold_member    0
dtype: int64

In [7]:
member_df['주소'].unique()

array(['수지구-풍덕천동', '처인구-고림동', '광주-기타', '수지구-동천동', '수지구-신봉동', '기흥구-상하동',
       '수지구-상현동', '기타-기타', '수지구-성복동', '분당구-백현동', '분당구-판교동', '수지구-죽전동',
       '분당구-구미동', '기흥구-동백동', '수원 영통구-기타', '기흥구-보정동', '기흥구-청덕동',
       '서울 강남구-기타', '수원 팔달구-기타', '분당구-수내동', '서울 송파구-기타', '기흥구-기타',
       '기흥구-언남동', '분당구-중동', '분당구-삼평동', '기흥구-마북동', '광주-오포읍', '화성-기타',
       '분당구-정자동', '기흥구-중동', '분당구-기타', '중원구-금광동', '처인구-역북동', '수지구-기타',
       '수원 장안구-기타', '처인구-삼가동', '처인구-기타', '수정구-신흥동', '수원 권선구-기타',
       '분당구-서현동', '분당구-야탑동', '기흥구-보라동', '기흥구-구갈동', '처인구-김량장동', '처인구-이동면',
       '분당구-분당동', '기흥구-신갈동', '기흥구-영덕동', '수정구-위례(창곡)동', '하남-기타', '기흥구-죽전동',
       '처인구-모현면', '기타-금광동', '처인구-원삼면', '분당구-이매동', '분당구-금곡동', '기타-신흥동',
       '기흥구-공세동', '기흥구-상갈동', '수정구-복정동', '기흥구-서천동', '광주-산성동', '중원구-도촌동',
       '처인구-유방동', '수원 장안구-정자동', '처인구-남사면', '서울 강남구-은행동', '수원 권선구-금곡동',
       '분당구-궁내동', '수정구-기타', '중원구-성남동', '중원구-여수동', '기타-금곡동', '기타-동천동',
       '기타-비조합원', '수정구-상대원동', '중원구-상대원동', '중원구-은행동', '중원구-하대원동', '기타-중앙동',
       '기타-보라동', '기타-동백동', '기타-은행동', '화성-보라동', '중원구-산성동', '수정구-단대동',
       '분당구-율동', '기타-궁내동', '기흥구-지곡동', '처인구-마평동', '수정구-태평동', '하남-위례동',
       '기타-율동', '기타-태평동', '기타-성남동'], dtype=object)

In [8]:
print(member_df['주소'].value_counts())

수지구-풍덕천동    3188
수지구-상현동     1601
수지구-신봉동     1422
기타-기타       1126
수지구-동천동      924
            ...
수정구-복정동        1
수정구-상대원동       1
기타-비조합원        1
기타-동천동         1
기타-성남동         1
Name: 주소, Length: 95, dtype: int64

In [15]:
product_df = pd.concat([df1, df2, df3,df4], ignore_index=True)

In [17]:
product_df.shape

(294645, 12)

In [18]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294645 entries, 0 to 294644
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      294645 non-null  object
 1   회원번호      294645 non-null  int64
 2   조합원상태     294645 non-null  object
 3   물품대분류     294645 non-null  object
 4   물품중분류     294645 non-null  object
 5   물품소분류     294645 non-null  object
 6   물품명       294645 non-null  object
 7   구매수량      294645 non-null  float64
 8   구매금액      294645 non-null  int64
 9   구매매장      294645 non-null  object
 10  반품_원거래일자  4960 non-null    object
 11  구매시각      294645 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 27.0+ MB

In [20]:
product_df.isnull().sum()

공급일자             0
회원번호             0
조합원상태            0
물품대분류            0
물품중분류            0
물품소분류            0
물품명              0
구매수량             0
구매금액             0
구매매장             0
반품_원거래일자    289685
구매시각             0
dtype: int64

In [23]:
print('반품갯수 : ',product_df.shape[0]-product_df['반품_원거래일자'].isnull().sum())

반품갯수 :  4960

In [47]:
onemarket_df = pd.merge(product_df,member_df,on='회원번호')

In [48]:
print(onemarket_df.shape)
onemarket_df.info()

(294645, 19)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 294645 entries, 0 to 294644
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   공급일자         294645 non-null  object
 1   회원번호         294645 non-null  int64
 2   조합원상태_x      294645 non-null  object
 3   물품대분류        294645 non-null  object
 4   물품중분류        294645 non-null  object
 5   물품소분류        294645 non-null  object
 6   물품명          294645 non-null  object
 7   구매수량         294645 non-null  float64
 8   구매금액         294645 non-null  int64
 9   구매매장         294645 non-null  object
 10  반품_원거래일자     4960 non-null    object
 11  구매시각         294645 non-null  object
 12  조합원상태_y      294645 non-null  object
 13  주소           294645 non-null  object
 14  성별           294642 non-null  object
 15  연령           294626 non-null  float64
 16  배송서비스신청여부    294645 non-null  object
 17  모바일알람여부      294645 non-null  object
 18  Gold_member  294645 non-null  object
dtypes: float64(2), int64(2), object(15)
memory usage: 45.0+ MB

In [49]:
onemarket_df = onemarket_df.drop(columns='조합원상태_y')
onemarket_df = onemarket_df.rename(columns={'조합원상태_x':'조합원상태'})

In [50]:
onemarket_df.columns

Index(['공급일자', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류', '물품명', '구매수량',
       '구매금액', '구매매장', '반품_원거래일자', '구매시각', '주소', '성별', '연령', '배송서비스신청여부',
       '모바일알람여부', 'Gold_member'],
      dtype='object')

In [59]:
onemarket_df['모바일알람여부'].value_counts()

.     217860
수신     76785
Name: 모바일알람여부, dtype: int64

In [74]:
pv1_mean = onemarket_df.pivot_table(index=['모바일알람여부','회원번호'], values = '구매금액', aggfunc='mean').reset_index()
pv1_sum = onemarket_df.pivot_table(index=['모바일알람여부','회원번호'], values = '구매금액', aggfunc='sum').reset_index()

In [75]:
pv1_mean

      모바일알람여부        회원번호          구매금액
0           .    18613824  21059.000000
1           .    18764160  -8882.700000
2           .    18792000  33311.000000
3           .    18942336  17528.750000
4           .    18949760   2776.000000
...       ...         ...           ...
11550      수신  1631321920  12405.500000
11551      수신  1635319744   7167.250000
11552      수신  1636290432  12061.000000
11553      수신  1636303424  -2297.000000
11554      수신  1670400000   9638.918081

[11555 rows x 3 columns]

In [76]:
pv1_sum

      모바일알람여부        회원번호      구매금액
0           .    18613824     21059
1           .    18764160    -88827
2           .    18792000     33311
3           .    18942336    560920
4           .    18949760      2776
...       ...         ...       ...
11550      수신  1631321920     49622
11551      수신  1635319744     57338
11552      수신  1636290432     24122
11553      수신  1636303424     -2297
11554      수신  1670400000  13060734

[11555 rows x 3 columns]

In [73]:
pv1_sum.loc[pv1['구매금액']<0]

      모바일알람여부        회원번호    구매금액
1           .    18764160  -88827
11          .    20993216  -16464
171         .    57302144   -7083
449         .    97532800  -24313
659         .   135862912  -21824
887         .   178216832  -10817
964         .   188946368    -957
1067        .   204638848   -1149
1167        .   221808704 -110462
1423        .   263516736   -1340
1468        .   267904320   -3254
1791        .   317004800  -15316
2259        .   399893760 -104526
2653        .   459849984 -102612
3015        .   535645312   -4212
3140        .   554437312  -77419
3505        .   603424576   -2489
3603        .   619441856   -6126
3999        .   677590336  -18282
4000        .   677614464   -3638
4199        .   702002304   -2872
4507        .   743417088   -5360
4608        .   745570048  -24313
5448        .   791550592  -64707
5626        .   817631104  -52981
5745        .   832482816   -4020
6061        .   864589760  -21442
6080        .   866783552    -670
6380        .   907203520  -22973
6548        .   938016832  -19336
6852        .   999474560  -23643
7077        .  1019582464   -1723
7347        .  1055243648  -15507
7561        .  1094655808   -8903
7872        .  1147481280  -12635
8164        .  1201180928   -5552
8702        .  1286779648   -9955
8780        .  1302022976    -192
9059        .  1352610112   -4978
9527        .  1458554304   -7275
9897        .  1516619264  -29482
9993        .  1529962048 -428723
10079       .  1541086912  -24869
10382       .  1580972352  -18762
10460       .  1607535424  -15316
10916      수신   482307584   -8232
11553      수신  1636303424   -2297

In [72]:
pv1_sum.loc[pv1['구매금액']<0]['구매금액'].sum()

-1457828

In [67]:
onemarket_df.loc[onemarket_df['회원번호']==18764160]

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member
214517,2022-04-27,18764160,정상회원,생활용품,생활용품,위생용품,면생리대(팬티라이너/3개),1.0,21059,매장D,NaN,18:58,기타-기타,여,76.0,미신청,.,normal
214518,2022-05-02,18764160,정상회원,간식,과자,스낵,오징어땅콩볼(100g),1.0,4595,매장D,NaN,12:40,기타-기타,여,76.0,미신청,.,normal
214519,2022-05-13,18764160,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-1.0,-166554,매장D,2022-05-14,16:31,기타-기타,여,76.0,미신청,.,normal
214520,2022-06-23,18764160,정상회원,간식,식사대용,식사대용/기타,소불고기볶음밥(300g),1.0,9381,매장D,NaN,15:14,기타-기타,여,76.0,미신청,.,normal
214521,2022-07-12,18764160,정상회원,채소,과일채소,메론,메론_머스크/중(1.5~2kg:1통),1.0,14550,매장D,NaN,19:03,기타-기타,여,76.0,미신청,.,normal
214522,2022-08-22,18764160,정상회원,음료,음료,빙과,딸기꽁꽁(120ml)/매장용,2.0,4020,매장D,NaN,18:59,기타-기타,여,76.0,미신청,.,normal
214523,2022-08-22,18764160,정상회원,간식,빵,앙금크림빵,크림빵(75g)/매장,1.0,3063,매장D,NaN,18:59,기타-기타,여,76.0,미신청,.,normal
214524,2022-01-22,18764160,정상회원,생활용품,세제/세안,세안비누,키토산비누(4장/1세트),-1.0,-8806,매장A,2022-01-25,15:41,기타-기타,여,76.0,미신청,.,normal
214525,2022-01-22,18764160,정상회원,생활용품,생활용품,치약/칫솔,물사랑치약(150g*2개),1.0,8806,매장A,NaN,15:41,기타-기타,여,76.0,미신청,.,normal
214526,2022-03-29,18764160,정상회원,생활용품,생활용품,위생용품,면생리대(팬티라이너/3개),1.0,21059,매장A,NaN,16:55,기타-기타,여,76.0,미신청,.,normal

In [69]:
onemarket_df.loc[onemarket_df['회원번호']==399893760].sort_values(by='물품명')

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member
137438,2022-02-27,399893760,정상회원,반찬,밑반찬,부각/튀각,고추부각(60g),-1.0,-6126,매장B,2022-02-28,11:25,기타-기타,남,51.0,미신청,.,normal
137434,2022-02-21,399893760,정상회원,수산,냉동수산,냉동생선,대구포(400g),-4.0,-104910,매장D,2022-02-22,18:01,기타-기타,남,51.0,미신청,.,normal
137435,2022-02-21,399893760,정상회원,수산,냉동수산,냉동생선,대구포(400g),4.0,104910,매장D,NaN,17:59,기타-기타,남,51.0,미신청,.,normal
137439,2022-02-21,399893760,정상회원,채소,뿌리채소,무,무(0.7~1kg미만),-1.0,-1914,매장A,2022-02-22,12:39,기타-기타,남,51.0,미신청,.,normal
137440,2022-02-21,399893760,정상회원,과실,견과,땅콩,볶은피땅콩(500g),8.0,125586,매장A,NaN,14:09,기타-기타,남,51.0,미신청,.,normal
137436,2022-02-21,399893760,정상회원,생활용품,화장품,기초화장품,수피아 내츄럴 수분미스트토너,-8.0,-119459,매장D,2022-02-22,18:45,기타-기타,남,51.0,미신청,.,normal
137431,2022-02-21,399893760,정상회원,생활용품,화장품,바디/핸드,수피아 누리봄 손크림(허브향/30g),-17.0,-110653,매장C,2022-02-22,15:27,기타-기타,남,51.0,미신청,.,normal
137437,2022-02-27,399893760,정상회원,음료,음료,건강차,양파즙(120ml*20봉),4.0,111036,매장B,NaN,10:56,기타-기타,남,51.0,미신청,.,normal
137432,2022-02-21,399893760,정상회원,축산물,소,한우(냉장),우둔장조림(신선육/300g/국내산),-2.0,-60113,매장C,2022-02-23,16:11,기타-기타,남,51.0,미신청,.,normal
137433,2022-02-21,399893760,정상회원,간식,밀가공,간편조리면,우리밀우동(491g/2인분),-4.0,-42883,매장C,2022-02-22,16:11,기타-기타,남,51.0,미신청,.,normal