In [1]:
import pandas as pd

In [4]:
member_df = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\member_data.csv')

In [5]:
print(member_df.shape)
member_df.info()

(11555, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11555 entries, 0 to 11554
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회원번호         11555 non-null  int64
 1   조합원상태        11555 non-null  object
 2   주소           11555 non-null  object
 3   성별           11553 non-null  object
 4   연령           11553 non-null  float64
 5   배송서비스신청여부    11555 non-null  object
 6   모바일알람여부      11555 non-null  object
 7   Gold_member  11555 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 722.3+ KB

In [6]:
member_df.isnull().sum()

회원번호           0
조합원상태          0
주소             0
성별             2
연령             2
배송서비스신청여부      0
모바일알람여부        0
Gold_member    0
dtype: int64

In [14]:
member_df['주소'].unique()

array(['수지구-풍덕천동', '처인구-고림동', '광주-기타', '수지구-동천동', '수지구-신봉동', '기흥구-상하동',
       '수지구-상현동', '기타-기타', '수지구-성복동', '분당구-백현동', '분당구-판교동', '수지구-죽전동',
       '분당구-구미동', '기흥구-동백동', '수원 영통구-기타', '기흥구-보정동', '기흥구-청덕동',
       '서울 강남구-기타', '수원 팔달구-기타', '분당구-수내동', '서울 송파구-기타', '기흥구-기타',
       '기흥구-언남동', '분당구-중동', '분당구-삼평동', '기흥구-마북동', '광주-오포읍', '화성-기타',
       '분당구-정자동', '기흥구-중동', '분당구-기타', '중원구-금광동', '처인구-역북동', '수지구-기타',
       '수원 장안구-기타', '처인구-삼가동', '처인구-기타', '수정구-신흥동', '수원 권선구-기타',
       '분당구-서현동', '분당구-야탑동', '기흥구-보라동', '기흥구-구갈동', '처인구-김량장동', '처인구-이동면',
       '분당구-분당동', '기흥구-신갈동', '기흥구-영덕동', '수정구-위례(창곡)동', '하남-기타', '기흥구-죽전동',
       '처인구-모현면', '기타-금광동', '처인구-원삼면', '분당구-이매동', '분당구-금곡동', '기타-신흥동',
       '기흥구-공세동', '기흥구-상갈동', '수정구-복정동', '기흥구-서천동', '광주-산성동', '중원구-도촌동',
       '처인구-유방동', '수원 장안구-정자동', '처인구-남사면', '서울 강남구-은행동', '수원 권선구-금곡동',
       '분당구-궁내동', '수정구-기타', '중원구-성남동', '중원구-여수동', '기타-금곡동', '기타-동천동',
       '기타-비조합원', '수정구-상대원동', '중원구-상대원동', '중원구-은행동', '중원구-하대원동', '기타-중앙동',
       '기타-보라동', '기타-동백동', '기타-은행동', '화성-보라동', '중원구-산성동', '수정구-단대동',
       '분당구-율동', '기타-궁내동', '기흥구-지곡동', '처인구-마평동', '수정구-태평동', '하남-위례동',
       '기타-율동', '기타-태평동', '기타-성남동'], dtype=object)

In [31]:
print(member_df['주소'].value_counts())

주소
수지구-풍덕천동    3188
수지구-상현동     1601
수지구-신봉동     1422
기타-기타       1126
수지구-동천동      924
            ...
수정구-복정동        1
수정구-상대원동       1
기타-비조합원        1
기타-동천동         1
기타-성남동         1
Name: count, Length: 95, dtype: int64

In [34]:
df1 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_001.csv')
df2 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_002.csv')
df3 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_003.csv')
df4 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\SW_CAMP\One_Market_Data\product_data_004.csv')

In [38]:
pd_df = pd.concat([df1, df2, df3,df4], ignore_index=True)

In [39]:
pd_df.shape

(294645, 12)

In [40]:
pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294645 entries, 0 to 294644
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      294645 non-null  object
 1   회원번호      294645 non-null  int64
 2   조합원상태     294645 non-null  object
 3   물품대분류     294645 non-null  object
 4   물품중분류     294645 non-null  object
 5   물품소분류     294645 non-null  object
 6   물품명       294645 non-null  object
 7   구매수량      294645 non-null  float64
 8   구매금액      294645 non-null  int64
 9   구매매장      294645 non-null  object
 10  반품_원거래일자  4960 non-null    object
 11  구매시각      294645 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 27.0+ MB

In [43]:
df5 = pd_df[['공급일자','회원번호','물품명']]

In [44]:
df5['count'] = 1

C:\Users\UserK\AppData\Local\Temp\ipykernel_16156\3546060319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['count'] = 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294645 entries, 0 to 294644
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   공급일자    294645 non-null  object
 1   회원번호    294645 non-null  int64
 2   물품명     294645 non-null  object
 3   count   294645 non-null  int64
dtypes: int64(2), object(2)
memory usage: 9.0+ MB