In [1]:
import pandas as pd

1. 다음의 두 데이터 프레임을 합쳐보라.

In [3]:
profit1 = {'매출' : [1000, 1500, 3000, 4000, 5000, 6000],
            '비용' : [1500, 2000, 2500, 2700, 3000, 3200]}
columns1 = ['매출', '비용']
index1 = ['1월', '2월', '3월', '4월', '5월', '6월']
df1 = pd.DataFrame(profit1, index=index1, columns=columns1)
df1['이익'] = df1['매출'] - df1['비용']
df1

profit2 = {'매출' : [4500, 4000, 5000, 6000, 3000, 2000],
        '비용' : [2800, 2700, 3000, 3200, 2500, 2000]}
columns2 = ['매출', '비용']
index2 = ['7월', '8월', '9월', '10월', '11월', '12월']
df2 = pd.DataFrame(profit2, index=index2, columns=columns2)
df2['이익'] = df2['매출'] - df2['비용']
df2

df = pd.concat([df1,df2])
df

       매출    비용    이익
1월   1000  1500  -500
2월   1500  2000  -500
3월   3000  2500   500
4월   4000  2700  1300
5월   5000  3000  2000
6월   6000  3200  2800
7월   4500  2800  1700
8월   4000  2700  1300
9월   5000  3000  2000
10월  6000  3200  2800
11월  3000  2500   500
12월  2000  2000     0

2. 1번문제에서 1년간의 총실적(열의 합)을 계산하는 데이터프레임을 만들어보고, 이를 기존 데이터프레임에 연결 추가(concat) 해보라.

In [25]:
profit3 = { '매출' : df['매출'].sum() , '비용' : df['비용'].sum(), '이익' : df['이익'].sum() }
print(profit3)
df3 = pd.DataFrame(profit3, index= ['총실적'], columns= ['매출','비용','이익'])

print(df3)

df4 = pd.concat([df,df3])
df4

{'매출': 45000, '비용': 31100, '이익': 13900}
        매출     비용     이익
총실적  45000  31100  13900

        매출     비용     이익
1월    1000   1500   -500
2월    1500   2000   -500
3월    3000   2500    500
4월    4000   2700   1300
5월    5000   3000   2000
6월    6000   3200   2800
7월    4500   2800   1700
8월    4000   2700   1300
9월    5000   3000   2000
10월   6000   3200   2800
11월   3000   2500    500
12월   2000   2000      0
총실적  45000  31100  13900


3. 다음과 같은 데이터가 있다고 하자. 이를 데이터프레임 데이터(df)로 만들어 보라. 

    A B C D

a 10 11 12 13

b 14 15 16 17

c 18 19 20 21

In [32]:
import numpy as np

a = np.arange(10,22).reshape(3,4)
df = pd.DataFrame(a,index=['a','b','c'], columns=['A','B','C','D'])
print(df)

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

4. 상기 데이터 프레임에서 b, c 행의 데이터를 뽑아내려면?

In [33]:
df.loc['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

5. df.loc["b":, "A"]의 결과는?


답 :

   A -> XXXX

b  14 

c  18

In [34]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

6. 다음의 결과를 예상해 보라. df.loc[df.A > 10, :]

답.

    A   B   C   D

b  14  15  16  17

c  18  19  20  21

In [35]:
df.loc[df.A > 10, :]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

7. 다음과 같은 데이터프레임이 있다고 하자.

 A B C D

a 10 11 12 13

b 14 15 16 17

c 18 19 20 21

e 90 91 92 93

다음의 예상 결과는? df.iloc[0, -2:]

8. 0~9까지의 1차원 수열에 해당하는 series 데이터를 만들어라. 그리고 각각 1번째, 3번째
데이터를 결측치(NaN)로 만들어 보라. 답.

9. 다음과 같은 데이터 프레임(df)이 있다. 0 1 2 3
0 0.0 0.0 3.0 2.0
1 3.0 0.0 2.0 1.0
2 3.0 2.0 1.0 NaN
3 4.0 3.0 4.0 2.0

위의 데이터프레임을 컬럼 2의 값을 기준으로 (값이 증가하는 순으로) 정렬해보라. 답.

10. 9번 문제의 데이터프레임에서 3번 컬럼의 결측치를 3번 컬럼의 평균값으로 대체해보라.
(그 결과 원래 df값이 바뀌는 것을 전제로)